<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="page :: html_head(~{::title},~{::link})">
  <title>Recent Posts</title>
  <link rel="stylesheet" href="../../static/css/post.css" th:href="@{/css/post.css}"/>
</head>
<body>
<header th:replace="page :: page_header"></header>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-9">
      <ul class="list-unstyled">
        <li class="card-body border-bottom post-item" th:each="post: ${posts}" th:object="${post}">
          <h5 class="card-title">
            <a href="view.html" title="This is post title" th:href="@{/post/{postId}(postId=*{id})}"
               th:text="*{title}">This is post title</a>
          </h5>
          <p class="card-text" th:text="*{intro}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            posuere erat a ante.
            Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <div class="small text-muted">
            <span class="post-info-unit" title="View posts for category">
                <i class="fa fa-folder" aria-hidden="true"></i>
                <a href="list.html" th:href="@{/post(category=*{category.id})}" th:text="*{category.name}">Category</a>
            </span>
            <span class="post-info-unit" title="Publication date">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <span th:text="*{createTime.toLocalDate()}">2018-01-10</span>
            </span>
            <span class="post-info-unit" title="Viewed number">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span th:text="*{stat.viewCount}">5</span>
            </span>
            <span class="post-info-unit" title="Comments number">
                <i class="fa fa-commenting" aria-hidden="true"></i>
                <span th:text="*{stat.voteCount}">4</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <aside class="col-md-3">
      <form class="pt-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for posts"/>
          <span class="input-group-btn">
              <button class="btn btn-secondary no-rounded-left" type="button">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
        </div>
      </form>
      <div class="card my-4">
        <div class="card-body">
          <h5 class="card-title">Categories</h5>
          <ul class="list-unstyled" th:remove="all-but-first">
            <li th:each="category: ${categories}" th:object="${category}">
              <a class="clearfix" href="list.html" th:href="@{/post(category=*{id})}">
                <span class="float-left" th:text="*{name}">Java</span>
                <span class="badge badge-primary badge-pill float-right">6</span>
              </a>
            </li>
            <li>
              <a class="clearfix" href="list.html">
                <span class="float-left">Nginx</span>
                <span class="badge badge-primary badge-pill float-right">16</span>
              </a>
            </li>
            <div class="collapse" id="hiddenCategories">
              <li>
                <a class="clearfix" href="list.html">
                  <span class="float-left">Linux</span>
                  <span class="badge badge-primary badge-pill float-right">2</span>
                </a>
              </li>
              <li>
                <a class="clearfix" href="list.html">
                  <span class="float-left">Misc</span>
                  <span class="badge badge-primary badge-pill float-right">4</span>
                </a>
              </li>
            </div>
          </ul>
          <a data-toggle="collapse" href="#hiddenCategories" role="button" aria-expanded="false"
             aria-controls="hiddenCategories">
            More...
          </a>
        </div>
      </div>
      <div class="card my-4">
        <div class="card-body">
          <h5 class="card-title">Archives</h5>
          <ul class="list-unstyled">
            <li>
              <a class="clearfix" href="list.html">
                <span class="float-left">Jan, 2018</span>
                <span class="badge badge-primary badge-pill float-right">6</span>
              </a>
            </li>
            <li>
              <a class="clearfix" href="list.html">
                <span class="float-left">Aug, 2017</span>
                <span class="badge badge-primary badge-pill float-right">16</span>
              </a>
            </li>
            <div class="collapse" id="hiddenArchives">
              <li>
                <a class="clearfix" href="list.html">
                  <span class="float-left">May, 2017</span>
                  <span class="badge badge-primary badge-pill float-right">2</span>
                </a>
              </li>
              <li>
                <a class="clearfix" href="list.html">
                  <span class="float-left">Apr, 2017</span>
                  <span class="badge badge-primary badge-pill float-right">4</span>
                </a>
              </li>
            </div>
          </ul>
          <a data-toggle="collapse" href="#hiddenArchives" role="button" aria-expanded="false"
             aria-controls="hiddenArchives">
            More...
          </a>
        </div>
      </div>
    </aside>
  </div>
</main>
<footer th:replace="page :: page_footer"></footer>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
