html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 3rem;
    /* Margin bottom by footer height */
    margin-bottom: 3rem;
    color: #444;
    background-image: url(../image/texture.png);
}

body>header>.navbar {
    padding-top: 0;
    padding-bottom: 0;
    color: #444;
    background-color: #282828;
    box-shadow: 0 4px 4px #e1e4e8;
    background-image: url(../image/board.gif);
}

.breadcrumb {
    padding-left: 0;
    margin-bottom: .5rem;
    background-color: transparent;
}

.right-pane>*:not(:last-child) {
    margin-bottom: 1rem;
}

.right-pane .card .card-header {
    padding: .5rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.right-pane .card .card-footer {
    border: none;
    padding: .5rem;
    font-size: .9rem;
}

.right-pane .card .list-group-item {
    padding: .5rem .6rem;
}

.right-pane .card .list-group-item a {
    font-size: .8rem;
    font-weight: 600;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 2.5rem;
    line-height: 2.5rem;
    color: silver;
    background-color: #282828;
    background-image: url(../image/board.gif);
}

.no-rounded-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.no-rounded-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.border-bottom {
    border-bottom: 1px #e1e4e8 solid !important;
}

[v-cloak] {
    display: none;
}