.post-item {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: .8rem;
}

.post-item:first-child {
    padding-top: 0;
}

.post-item h5 {
    margin-bottom: .5rem;
}

.post-item p {
    margin-bottom: .5rem;
}

.post-info-unit:not(:last-child) {
    margin-right: .5rem;
}

.post-tag {
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
    min-width: 1.2rem;
    font-size: 0.9em;
    background-color: silver;
}

.post-intro {
    border-left: 0.2rem solid silver;
    padding: 0.5rem 0 0.5rem 0.5rem;
    background-color: #f0f0f0;
}