.post-category, .post-tag {
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
    min-width: 1.2rem;
    font-size: 0.9em;
}

.post-category {
    background-color: black;
}

.post-tag {
    background-color: silver;
}

.post-intro {
    border-left: 0.2rem solid silver;
    padding: 0.5rem 0 0.5rem 0.5rem;
    background-color: #f0f0f0;
}
